*{
    background-color: lightgray;
    box-sizing: border-box;
}


body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
}

.operationDisplay{
    margin: 0px auto 0px;
    padding: 5px 20px 12px;
    width: 350px;
    background-color: rgb(193, 193, 193);
    border-radius: 4px;
    font-size: 19px;
    transition: height 0.2s ease-out;
    height: 30px;
}



.columnContainer{
    border: black solid 8px;
    width: 350px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.display{
    width: 95%;
    height: 60px;
    border: black solid 3px;
    margin: 14px auto 20px;
    text-align: right;
    overflow: hidden;
    padding-top: 10px;
    font-size: 29px;
    font-weight: 600;
    text-overflow: hidden;
}

.display > div{
    font-size: 65px;
}

.topButtons,
.topNumkeys,
.midNumkeys,
.lowerNumkeys,
.bottomButtons{
    margin: 2px 12px 0px;
    display: flex;
    height: 60px;
    gap: 1px;
    background-color: gray;
}

.topButtons > button,
.topNumkeys > button,
.midNumkeys > button,
.lowerNumkeys > button,
.bottomButtons > button
{
    flex-grow: 1;
    border: black solid 3px;
    font-size: 20px;
}

.topButtons #numDiv,
.topNumkeys #numMult,
.midNumkeys #numMin,
.lowerNumkeys #numPlus{
    flex-grow: 0;
    width: 50px;
}

.topButtons #clear{
    flex-grow: 3;
}

.topNumkeys button{
    flex-grow: 1;
}

.bottomButtons #num0,#numdot{
    flex-grow: 0;
    width: 83px;
}

.keyContainer{
    background-color: gray;
}

.keybtn:hover{
    background-color: white;
}